# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Виртуальные окружения
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Результаты экспериментов (если не хотите их в репо)
results/
*.csv
*.png

# IDE
.vscode/
.idea/
*.swp

# ОС
.DS_Store
Thumbs.db

# Секреты
.env
*.key